services:
  analyzer:
    build: ./analyzer
    ports:
      - "8000:8000"

  backend:
    build: ./backend
    ports:
      - "8080:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=default
      - ANALYZER_URL=http://analyzer:8000/analyze
    depends_on:
      - analyzer

  frontend:
    build: ./frontend
    ports:
      - "4200:80"
    depends_on:
      - backend
